[Desktop Entry]
Type=Application
Name=Foil Auth
X-Nemo-Application-Type=silica-qt5
Icon=harbour-foilauth
Exec=harbour-foilauth

[X-HarbourBackup]
BackupPathList=.local/share/foil/:Documents/FoilAuth/
BackupConfigList=/apps/harbour-foilauth/
